<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Room name</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="room.name"
            name="title"
          />
        </div>

        <div class="form-group">
          <label for="description">Country name</label>
          <select id = "description" [(ngModel)]="room.countryName">
            <option *ngFor="let country of countryList" [value]="country">
                {{country}}
            </option>
          </select>

        </div>

        <button (click)="saveRoom()" class="btn btn-success">Submit</button>
      </div>

      <div *ngIf="submitted">
        <h4>Room was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newRoom()">Add</button>
      </div>
    </div>
  </div>
